<!DOCTYPE html>
<html>

<head>
  <title>Alchemist</title>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.css">
</head>

<body>
  <div class="container">
    <h1 class="text-center">
      <i class="fa fa-flask"></i>&nbsp;Alchemist
    </h1>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
        <a class="btn btn-primary btn-lg btn-block" href="package.html">
          <i class="fa fa-plus"></i>&nbsp;Create New ZDF
        </a>

        <a class="btn btn-primary btn-lg btn-block" href="packageFolder.html">
          <i class="fa fa-gift"></i>&nbsp;Package an Existing Folder
        </a>
      </div>
    </div>
  </div>
</body>

</html>
